<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.6">
    <title>Question</title>
    <link rel="stylesheet" href="./../static/css/question.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            AskPupkin
        </div>
        <div class="search-form">
            <form action="#">
                <input class="search-form-input" type="text" placeholder="&#128269; Search">
                    <button class="search-form-button">Ask!</button>
            </form>
        </div>
        <div class="account">
            <div class="account-content">
                <div class="account-actions">
                    <a href="./login.html">log in</a>
                    <a href="./signup.html">register</a>
                </div>
            </div>
        </div>
    </header>
    <div class="divider"></div>
    <main class="container">
        <div class="content">
            <div class="cards">
                <article class="question">
                    <div class="card-left">
                        <img src="./image.jpg" alt="Image" class="question-image">
                        <input type="number" class="question-likes" value="5">
                    </div>
                    <div class="card-right">
                        <div class="card-right-content">
                        <div class="question-title">Title</div>
                        <div class="card-text">Text here</div>
                        </div>
                        <div class="question-right-bottom">
                            <div class="card-right-text">Tags:</div>
                            <div class="card-tags">
                                <a href="#">Link</a>
                                <a href="#">Link</a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="card">
                    <div class="card-left">
                        <img src="./image.jpg" alt="Image" class="card-image">
                        <input type="number" class="card-likes" value="5">
                    </div>
                    <div class="card-right">
                        <div class="card-right-content">
                        <div class="card-text">Text here</div>
                        </div>
                        <div class="card-right-bottom">
                            <div class="card-tags">
                                <input type="checkbox" class="checkbox" value="1" />
                            </div>
                            <div class="question-text">Correct!</div>
                        </div>
                    </div>
                </article>
                <article class="card">
                    <div class="card-left">
                        <img src="./image.jpg" alt="Image" class="card-image">
                        <input type="number" class="card-likes" value="5">
                    </div>
                    <div class="card-right">
                        <div class="card-right-content">
                        <div class="card-text">Text here</div>
                        </div>
                        <div class="card-right-bottom">
                            <div class="card-tags">
                                <input type="checkbox" class="checkbox" value="1" />
                            </div>
                            <div class="question-text">Correct!</div>
                        </div>
                    </div>
                </article>
                <div class="divider"></div>
                <textarea class="question-input" type="text" placeholder="Enter your answer here.."></textarea>
                <div class="pagination">
                    <button class="button-question">Answer!</button>
                </div>
            </div>
            <aside class="sidebar">
                <section class="popular-tags">
                    <h3>Popular Tags</h3>
                    <div class="tags">
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                    </div>
                </section>
                <section class="best-members">
                    <h3>Best Members</h3>
                    <ul class="best-members-list">
                        <li><a href="#">Member</a></li>
                        <li><a href="#">Member</a></li>
                        <li><a href="#">Member</a></li>
                        <li><a href="#">Member</a></li>
                        <li><a href="#">Member</a></li>
                    </ul>
                </section>
            </aside>
        </div>
    </main>
</body>
</html>